{% extends "ui/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block container %}

<center>
    <div class="panel panel-default" style="width: 25%;margin-top: 2em;">
    <div id="heading-wrap" class="panel-heading"><span class="glyphicon-heading glyphicon glyphicon-envelope pull-left"></span>
      <div><h4>{% trans 'Email Required' %}</h4></div>
    </div>
    <div class="panel-body">
          <div id="login">
                <div style="font-size: medium;">
                    {% blocktrans %}Please provide a valid email address. This email address will be used to notifiy you when your exports are ready.
                    A verification link will be sent to the email address you provide.{% endblocktrans %}
                <br/><br/>
                <form method="post" action="{% url 'osm:complete' 'openstreetmap' %}" id="registerEmail">
                    {% csrf_token %}
                    <div class="form-group row" id="form-group-email">
                        <div class="col-md-12">
                            <strong><label class="control-label pull-left" for="email">{% trans 'Email: ' %}</label></strong>
                            <input class="form-control input-lg" type="email" name="email" id="id_email" value=""/>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group row pull-left">
                        <div class="col-md-6">
                            <button id="save" type="submit" class="btn btn-lg btn-success pull-left">{% trans 'Submit' %}</button>
                        </div>
                    </div>
              </form>
          </div>
      </div>
    </div>
    </center>
{% endblock %}
{% block corejs %}
{{ block.super }}
<script src="{% static 'ui/contrib/formvalidation/dist/js/formValidation.min.js' %}"></script>
<script src="{% static 'ui/contrib/formvalidation/dist/js/framework/bootstrap.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#registerEmail').formValidation({
                framework: 'bootstrap',

                // Feedback icons
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },

                // List of fields and their validation rules
                fields: {
                    email: {
                        validators: {
                            notEmpty: {
                                message: gettext('Please enter your email address.')
                            },
                            regexp: {
                                regexp: '^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$',
                                message: gettext('Please enter a valid email address.')
                            }
                        }
                    },
                }
        });
    })
    .on('err.validator.fv', function(e, data) {
            if (data.field === 'email') {
                data.element
                    .data('fv.messages')
                    // Hide all the messages
                    .find('.help-block[data-fv-for="' + data.field + '"]').hide()
                    // Show only message associated with current validator
                    .filter('[data-fv-validator="' + data.validator + '"]').show();
            }
    });
</script>
{% endblock %}