Django==1.9
GDAL
billiard
cachetools
celery[librabbitmq]==3.1.23
dj_database_url
django-filter==0.13.0
djangorestframework-gis==0.10.1
djangorestframework==3.3.3
git+git://github.com/bdon/ckanapi.git@7778ad33c22f20eb2e5a1c5998eedb5f9cbe86ac#egg=ckanapi
git+git://github.com/bdon/hdx-python-api.git@7a3a96e030d573e15af671bc543526a0d18af09f#egg=hdx-python-api
kombu<4
psycopg2==2.6.1
python-openid
python-social-auth==0.2.19
pytz
pyyaml==3.12
raven==6.0.0
requests==2.13.0
requests_oauthlib
pyparsing==2.2.0
