[Unit]
Description=Overpass API
After=docker.service
Requires=docker.service
PartOf=osm-export-tool.target

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill %n
ExecStart=/usr/bin/docker run \
  -v /mnt-overpass/:/srv/osm3s/db \
  -p 6080:80 \
  --rm \
  --name %n \
  --network exports \
  --network-alias overpass-api \
  quay.io/hotosm/overpass-api

[Install]
WantedBy=osm-export-tool.target
