[Unit]
Description=Create "exports" network
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/docker network inspect exports > /dev/null || /usr/bin/docker network create exports'

[Install]
WantedBy=osm-export-tool.target
