[Unit]
Description=PostgreSQL
After=docker.service docker.exports-network.service
Requires=docker.service docker.exports-network.service
PartOf=osm-export-tool.target

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run \
  -e POSTGRES_USER=exports \
  -e POSTGRES_PASSWORD=exports \
  -e POSTGRES_DB=exports \
  --rm \
  --name %n \
  --network exports \
  --network-alias postgresql \
  -v /mnt-storage/postgresql:/var/lib/postgresql/data \
  mdillon/postgis:9.6

[Install]
WantedBy=osm-export-tool.target
