[Unit]
Description=Nginx
After=docker.service docker.django.service
Requires=docker.service docker.django.service
BindsTo=docker.django.service
PartOf=osm-export-tool.target

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull quay.io/hotosm/osm-export-tool2-nginx
ExecStart=/usr/bin/docker run \
  --rm \
  --name %n \
  --network exports \
  --volumes-from docker.django.service \
  -p 80:80 \
  quay.io/hotosm/osm-export-tool2-nginx

[Install]
WantedBy=osm-export-tool.target
