[Unit]
Description=PostgreSQL Backups
After=docker.service docker.postgresql.service
Requires=docker.service docker.postgresql.service

[Service]
Type=oneshot
# use sh to facilitate redirection; include extra %s to bypass systemd replacement
ExecStart=/bin/sh -c '/usr/bin/docker exec \
  -u postgres \
  docker.postgresql.service \
  pg_dump -Fc -d exports | aws s3 cp - s3://hotosm-backups/exports-prod/exports-$(date "+%%Y%%m%%d%%H%%M%%S").pgdump'
