[Unit]
Description=Celery Beat
After=docker.service docker.rabbitmq.service docker.postgresql.service docker.django.service docker.exports-network.service
Requires=docker.service docker.rabbitmq.service docker.postgresql.service docker.django.service docker.exports-network.service
BindsTo=docker.django.service
PartOf=osm-export-tool.target

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run \
  -e BROKER_URL=amqp://guest:guest@docker.rabbitmq.service/ \
  --env-file /etc/exports.env \
  --rm \
  --name %n \
  --network exports \
  --volumes-from docker.django.service \
  quay.io/hotosm/osm-export-tool2 \
  celery -A core beat

[Install]
WantedBy=osm-export-tool.target
