[Unit]
Description=RabbitMQ
After=docker.service docker.exports-network.service
Requires=docker.service docker.exports-network.service
PartOf=osm-export-tool.target

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill %n
ExecStart=/usr/bin/docker run \
  --rm \
  --name %n \
  --network exports \
  --network-alias rabbitmq \
  rabbitmq:3.6.9-management

[Install]
WantedBy=osm-export-tool.target
