.container {
    position: absolute;
    top: 180px;
    left: 25%;
    width: 50%;
    background-color: #fff;
    z-index: 1;
    max-width: 600px;
    min-width: 200px;
    max-height: 550px;
    text-align: center;
}

.titlebar {
    height: 45px;
    width: 100%;
    text-align: left;
}

.title {
    line-height: 45px;
    margin-left: 5%;
}

.exit {
    color: #4498c0;
    border: none;
    background-color: #fff;
    float: right;
    margin-right: 5%;
    margin-top: 8px;
    padding: 0px;
    width: 24px;
    height: 24px;
}

.exit:focus {
    outline: none;
}

.body {
    height: 100%;
    width: 100%;
    padding: 0% 5% 0% 5%;
}

.footer {
    height: 45px;
    width: 100%;
    bottom: 0px;
}
