[Unit]
Description=Scheduled tasks
After=syslog.target

[Service]
Environment=EXPORT_STAGING_ROOT=/mnt/data/staging
Environment=EXPORT_DOWNLOAD_ROOT=/mnt/data/downloads
Environment=SENTRY_DSN=
Environment=EMAIL_HOST=
Environment=EMAIL_HOST_USER=
Environment=EMAIL_HOST_PASSWORD=
Environment=REPLY_TO_EMAIL=
Environment=OVERPASS_API_URL=
Environment=DJANGO_SETTINGS_MODULE=core.settings.project
User=exports
WorkingDirectory=/home/exports/osm-export-tool/
ExecStart=/home/exports/venv/bin/dramatiq tasks.task_runners --processes 1 --threads 1 --queues scheduled
Restart=on-failure

[Install]
WantedBy=multi-user.target
