{% extends "admin/base_site.html" %}
{% block extrahead %}
{{ block.super }}
<script src="{{ jsi18nurl|default:" type="text/javascript"><!--mce:0--></script>  
{% endblock %}
{% block extrastyle %}{{ block.super }}
{% endblock %}
{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}
{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">  
     <a href="../../">Home</a> ›
     <a href="../">{{ opts.verbose_name_plural|capfirst }}</a> › Update Regions
</div>
{% endif %}{% endblock %}
{% block content %}
<form action="{% url 'admin:update_regions' %}"  method="post">
    {% csrf_token %}
<!--<fieldset class="module aligned">-->
<div class="form-row">  
    <label>Select Region: </label>
    <select id="regions" name="region">
        {% for region in regions %}
            <option value="{{ region.uid }}">{{ region.name }}</option>
        {% endfor %}
    </select>
</div>
<!--</fieldset>-->
<input type="hidden" name="selected" value="{{ selected }}"/>
<div class="submit-row">

<input class="default" type="submit" value="Update Regions" />
</div>  
</form>
{% endblock %}