{% extends "admin/base_site.html" %}
{% block extrahead %}
{{ block.super }}
<script src="{{ jsi18nurl|default:" type="text/javascript"><!--mce:0--></script>  
{% endblock %}
{% block extrastyle %}{{ block.super }}
{% endblock %}
{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}
{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">  
     <a href="../../">Home</a> ›
     <a href="../">{{ opts.verbose_name_plural|capfirst }}</a> › Update Regions
</div>
{% endif %}{% endblock %}
{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        Updated {{ num_selected }} exports to the {{ region }} region.
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}