{% extends "ui/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block css %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'ui/contrib/datatables/media/css/jquery.dataTables.min.css' %}"/>
<link rel="stylesheet" href="{% static 'ui/contrib/datatables/media/css/dataTables.bootstrap.css' %}"/>
<link rel="stylesheet" href="{% static 'ui/contrib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}"/>
{% endblock %}

{% block container %}
<div class="row">
    <div id="spinner" class="col-md-7">
            <span id="spinner"><i class="fa fa-cog fa-spin fa-5x"></i></span>
    </div>
    <div id="search-config" class="col-md-7">
        <a id="filter-toggle" class="btn btn-md btn-primary" role="button" data-toggle="collapse" href="#filterForm" aria-expanded="false" aria-controls="collapseExample">
            <i class="indicator glyphicon glyphicon-chevron-down"></i> {% trans 'Filter Presets' %}
        </a>
        <form id="search" role="search">
            {% csrf_token %}
            <div class="collapse" id="filterForm">
                <div class="form-group" id="form-group-search">
                    <label class="control-label sr-only" for="name">{% trans 'Search' %}</label>
                    <div>
                        <div class="input-group search">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                            <input id="search" type="text" class="form-control" placeholder="Filter by name, owner" name="search">
                        </div>
                    </div>
                </div>
                <!-- start date picker -->
                <div class="form-group col-md-5">
                    <div class='input-group date' id='start-date'>
                        <span class="input-group-addon"><strong>{% trans 'Start Date:' %}</strong></span>
                        <input type='text' class="form-control" name="start"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <!-- end date picker -->
                <div class="form-group col-md-5 pull-left">
                    <div class="input-group date" id='end-date'>
                        <span class="input-group-addon"><strong>{% trans 'End Date:' %}&nbsp;&nbsp;&nbsp;</strong></span>
                        <input type='text' class="form-control" name="end" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <button id="reset-form" type="button" class="btn btn-default">{% trans 'Reset Form' %}</button>
                </div>
            </div>
            <div class="row">
                <div id="list-configurations">
                    <div class="table-responsive">
                        <table id="configurations" class="table table-hover">
                            <thead>
                                <tr><th width="10%">{% trans 'Name' %}</th><th width="10%">{% trans 'Type' %}</th><th width="20%">{% trans 'Created' %}</th><th width="30%">{% trans 'Download Configuration' %}</th><th width="10%">Owner</th><th width="10%"></th><th width="10%"></th></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if user.is_authenticated %}
                    <div class="form-group" id="form-group-user">
                        <div id="user">
                            <span id="user">{{ user.username }}</span>
                            <input id="user" name="user" value="" type="hidden"/>
                            <input id="user_private" name="user_private" value="{{ user.username }}" type="hidden"/>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="checkbox">
                                <label class="control-label" for="user-check">
                                    <input id="user-check" type="checkbox"/> <strong>{% trans 'My Presets' %}</strong>
                                </label>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group" id="form-group-user">
                        <div id="user">
                            <input id="user" name="user" value="" type="hidden"/>
                            <input id="published" name="published" value="True" type="hidden"/>
                        </div>
                    </div>
                {% endif %}
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="page-size">
                                <label class="control-label" for="page-size">
                                    <span class="pull-left"><strong>{% trans 'Display' %}</strong>&nbsp;</span>
                                    &nbsp;
                                    <select id="page-size" name="page_size" class="pull-left">
                                        <option value="5" selected>5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                    </select>
                                    <span class="pull-left"><strong>{% trans 'presets per page' %}</strong>&nbsp;</span>
                                </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="info" class="pull-left"></div>
                </div>
                <div class="col-md-3">
                    <div id="pagination" class="pull-right">
                        <ul class="pager"></ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="config-upload" class="col-md-5">
        {% if user.is_authenticated %}
        <form id="create-configuration-form">
        <div class="row">
            <div class="col-md-12">
                <label>{% trans 'Upload a preset file' %}</label>
                <p class="">
                {% blocktrans %}Use this form to upload a <a href="http://learnosm.org/en/josm/creating-presets/" target="_blank">JOSM Preset</a> configuration file.{% endblocktrans %}
                </p>
            </div>
        </div>
        <div class="form-group row" id="form-group-name">
            <div class="col-md-12">
                <label class="control-label" for="name">{% trans 'Preset name:' %}</label>
                <input class="form-control" type="text" name="filename" id="filename" value=""/>
            </div>
        </div>
        <br/>
        <input id="config_type" type="hidden" name="config_type" value="PRESET"/>
        <!--
        <div class="form-group row">
            <label class="control-label" for="config_type">Select Configuration Type:</label>
            <select class="form-control" id="config_type" name="config_type">
                <option id="select-message" value="">Select a configuration type</option>
                <option id="select-preset" value="PRESET">Preset</option>
                <option id="select-transform" value="TRANSFORM">Schema Transformation</option>
                <option id="select-translate" value="TRANSLATION">Translation File</option>
            </select>
        </div>
        <br/>
        -->
        <div class="form-group row" id="form-group-publish">
            <div class="col-md-12">
                <div class="checkbox">
                    <label class="control-label" for="publish_config">
                      <input id="publish_config" name="publish_config" type="checkbox" value="">
                      {% trans 'Publish this preset publicly' %}
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                  <span class="sr-only">60% Complete</span>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <span id="select-file" class="btn btn-primary btn-lg btn-file pull-left">
                <i class="fa fa-plus"></i>&nbsp;
                {% trans 'Upload Preset' %} <input id="fileupload" type="file" name="upload">
            </span>
            <button id="upload" type="button" class="btn btn-lg btn-success pull-left">
                <span>
                <i class="fa fa-upload"></i>&nbsp;
                {% trans 'Upload' %}
                </span>
            </button>
        </div>
        <div class="form-group-row" id="form-group-filelist">
            <div class="table-responsive table-stripped col-md-12">
                <table class="table" id="filelist">
                    <th width="40%">{% trans 'Filename' %}</th><th width="25%">{% trans 'Type' %}</th><th width="25%">{% trans 'Status' %}</th><th width="10%"></th>
                </table>
            </div>
        </div>
        <div id="configurations">
              <input id="preset" type="hidden" name="preset" value="" />
              <input id="translation" type="hidden" name="translation" value="" />
              <input id="transform" type="hidden" name="transform" value="" />
        </div>
        </form>
    {% else %}
    <div style="font-size: large;"><a href="{% url 'osm:begin' 'openstreetmap' %}?next={{request.path}}">{% trans 'Login' %}</a> {% trans 'to upload a preset configuration file.' %}</div>
    {% endif %}
    </div>
</div>

<!--
    <div class="row">
        <div class="form-group" id="form-group-features">
            <div class="input-group">
                <span class="input-group-addon"><strong>Select Features:</strong></span>
                <select id="features" multiple name="feature">
                    <option value="railway">railway</option>
                </select>
            </div>
        </div>
    </div>
-->

<div class="modal fade" id="uploadConfigError" tabindex="-1" role="dialog" aria-labelledby="uploadConfigError" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{% trans 'Error Uploading Configuration File' %}</h4>
        </div>
        <div class="modal-body" style="font-size: large;">
         <div>
            <span class="glyphicon glyphicon-exclamation-sign"
                  style="float:left; font-size: 2.0em; color: red; margin:0 7px 25px 0;">
            </span>
         </div>
        <div>
            <p>{% trans 'There was a problem with your configuration upload.' %}</p>
            <p id="message"></p>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
</div>


{% endblock %}
{% block corejs %}
{{ block.super}}
<script src="{% static 'ui/contrib/openlayers/OpenLayers.js' %}"></script>
<script src="{% static 'ui/contrib/numeral/min/numeral.min.js' %}"></script>
<script src="{% static 'ui/contrib/moment/min/moment.min.js' %}"></script>
<script src="{% static 'ui/contrib/formvalidation/dist/js/formValidation.min.js' %}"></script>
<script src="{% static 'ui/contrib/formvalidation/dist/js/framework/bootstrap.min.js' %}"></script>
<script src="{% static 'ui/contrib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>

<script src="{% static 'ui/contrib/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'ui/contrib/datatables/media/js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'ui/contrib/jquery-color/jquery.color.js' %}"></script>
<script src="{% static 'ui/js/layers.js' %}"></script>
<script src="{% static 'ui/js/config.js' %}"></script>
<script src="{% static 'ui/js/configurations.js' %}"></script>
{% endblock %}