@media (min-width: 1200px) {
  .container,
  .container-fluid {
    width: 100% !important;
  }
}

@media (min-width: 992px) {
  .container,
  .container-fluid {
    width: 100% !important;
  }
}

@media (min-width: 768px) {
  .container,
  .container-fluid {
    width: 100% !important;
  }
  #start-date {
    padding-right: 0px;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #1f3b45;
}

a {
  color: #439ab4;
}

/* nav styles */

.navbar-brand {
  padding: 0;
}

.navbar-default {
  background-color: white;
}

.navbar-brand .logo {
  margin-left: 20px;
  margin-top: 10px;
  height: 42px;
}

.navbar-default .navbar-nav > li > a {
  color: #1f3b45;
  font-weight: 400;
  line-height: 30px;
}

.navbar {
  margin-bottom: 0;
}

.nav-tabs > li > a.active,
.nav-tabs > li > a.active:hover,
.nav-tabs > li > a.active:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

footer {
  border-top: 1px solid #e7e7e7;
  font-size: 0.8rem;
  padding: 10px 20px;
}

footer .center {
  text-align: center;
}

footer .right {
  text-align: right;
}

/* main container / bootstrap styles */

.container-fluid {
  padding: 0px !important;
}

.row {
  margin: 0px !important;
  width: 100%;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding: 0px;
}

.glyphicon-heading {
  font-size: 2em;
  top: 8px;
  color: #d73f3f;
}

.form-control-feedback {
  top: 1.5em !important;
}

span.heading {
  font-size: 1.5em !important;
}

.tab-pane {
  margin-left: 15px !important;
}

.table-responsive {
  min-height: 0.01%;
  overflow-x: visible !important;
}

/* Map styles */

#map {
  background-color: #cad2d3;

  background: -moz-linear-gradient(
    top,
    #cad2d3 0%,
    #cad2d3 33%,
    #f6f6f4 66%,
    #f6f6f4 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #cad2d3 0%,
    #cad2d3 33%,
    #f6f6f4 66%,
    #f6f6f4 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #cad2d3 0%,
    #cad2d3 33%,
    #f6f6f4 66%,
    #f6f6f4 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#cad2d3',
      endColorstr='#f6f6f4',
      GradientType=0
    ); /* IE6-9 */
}

#create-export-map {
  position: absolute;
  width: 100%;
  height: 620px;
  border-left: 3px solid lightgrey;
}

#list-export-map {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 620px;
  border-left: 1px solid lightgrey;
}

#list-controls {
  display: none;
}

#alert-extents {
  position: absolute;
  top: 90px;
  left: 50px;
  z-index: 100;
  visibility: hidden;
}

#valid-extents {
  position: absolute;
  top: 90px;
  left: 50px;
  z-index: 100;
  visibility: hidden;
}

#feature-popup {
  display: none;
  position: relative;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #337ab7;
  border-color: #2e6da4;
  color: #fff;
  top: 50px;
  left: 50px;
  font-size: small;
  width: 230px;
}

#create-controls .btn-group,
#list-controls-temp .btn-group {
  position: absolute;
  top: 9px;
  left: 50px;
  z-index: 100;
}

.olControlDrawFeatureActive {
  cursor: crosshair;
}

.olControlAttribution {
  bottom: .5em !important;
  right: 1em !important;
}

#map-column {
}

/* Create export form styles */

div#submit-spinner {
  float: left;
  position: fixed;
  z-index: 1000;
  background: transparent;
  min-width: 100%;
  min-height: 100%;
  display: none;
}

span#submit-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
}

span#submit-spinner i {
  font-size: 4em !important;
}

#create-job-wizard {
  padding: 10px !important;
}

#create-job-wizard ul.nav-pills {
  font-size: medium !important;
  float: left !important;
  font-size: small;
  font-weight: 500;
}

#create-job-wizard {
  font-size: medium;
}

#supported-formats {
  padding-left: 1em;
}

.tab-pane {
  min-height: 450px;
}

.tab-pane > .panel {
  border: none;
  clear: both;
}

.tab-pane > .panel > .panel-body {
  padding-left: 0px !important;
}

.nav-pills > li + li {
  margin-left: 0px !important;
}

#create-pager li {
  margin-left: 15px !important;
}

li.next {
  display: none;
}

#user-max-extent {
  display: none;
}

/* gazetteer lookup styles */

div#gazetteer {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 100;
}

#nominatim {
  min-width: 400px !important;
}

span.gazetteer {
  background-color: #337ab7;
  color: white;
  border: 1px solid #337ab7;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.typeahead {
  z-index: 1051;
}

ul.typeahead {
  max-width: 500px !important;
  overflow: hidden !important;
}

/*
 * hide the bbox div
 * which contains bbox hidden fields.
 */

#bbox {
  visibility: hidden;
  max-height: 1px;
  max-width: 1px;
}

#bbox > small {
  display: none !important;
}

/* Feature selection styles */

.features {
  float: left !important;
  /*min-height: 400px;*/
  max-height: 400px;
  overflow: auto;
  margin-left: 15px;
  min-width: 100%;
}

#hdm-feature-tree {
  margin-right: 5em;
}

/* hide 'name' tag by default in the feature selection trees */

li.entry[title="name="] {
  display: none;
}

/* Upload tab */

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#filelist {
  display: none;
  margin: 10px 0 15px 0;
  vertical-align: middle;
  font-size: small;
}

button#upload {
  visibility: hidden;
  position: absolute;
  left: 25px;
}

.progress {
  display: none;
}

/* SUMMARY TAB */

#summary-name,
#summary-description,
#summary-event {
  margin-left: .5em;
}

div#summary-configs {
  visibility: hidden;
}

table#summary-configs {
  font-size: small;
}

#btn-submit-job {
  float: right;
}

div#options {
  padding-left: 1em;
}

div#details {
  padding-right: 1em;
  border-right: 1px solid lightgrey;
}

/* config selection modal dialog */

#configSelectionModal {
}

#configSelectionModal container-fluid {
  padding: 15px !important;
}

div#spinner-modal {
  display: none;
}

i.fa {
  font-size: medium;
}

.tree-checkbox {
  position: relative;
  display: block;
  margin-top: .2em;
  margin-bottom: 0px !important;
  left: 1.5em;
}

label {
  left: .5em !important;
}

li.entry > label {
  font-size: medium !important;
  margin-right: .5em !important;
}

li.entry > div.tree-checkbox {
  display: list-item !important;
  margin-top: .2em !important;
  /*float: right !important;*/
  /*margin-left: 1em !important;*/
}

li.level {
  float: left !important;
  clear: both !important;
}

input.level {
  margin-top: .4em !important;
}

li.level label {
  font-size: medium;
  font-weight: 500;
  float: left !important;
}

li.sub-level label {
  font-size: medium;
}

li.entry {
  padding: 0px !important;
  font-weight: 400 !important;
  font-size: small !important;
  float: left;
  clear: both;
}

label.nav-header {
  float: left !important;
}

label.sub-menu {
  float: left !important;
  clear: both !important;
}

ul.sub-level {
  margin-top: 0em !important;
  float: left !important;
  clear: both !important;
  position: relative;
  left: 1.5em;
}

/*
.collapsing{
    height: 100px !important;
    -moz-transition : height 15s;
    -webkit-transition : height 15s;
    -o-transition : height 15s;
    transition : height 15s;
}
*/

/* job detail styles @see job.html */

#submitted_runs {
  display: none;
}

#details-row {
  padding: 15px;
  display: block;
}

#job {
  margin-right: 2em;
}

button#rerun {
  margin-right: .5em;
}

button#clone {
  margin-right: .5em;
}

button#delete {
  margin-right: .5em;
  display: none;
}

button#features {
  margin-right: .5em;
}

span#user {
  display: none;
}

#delete-info,
#error-info {
  display: none;
  font-size: large;
  padding: 15px;
}

#export-details {
  margin-right: .5em;
}

#extents {
  position: relative;
  width: 100%;
  height: 350px;
  padding-left: .5em;
  border: 1px solid lightgrey;
}

#extents .olControlZoom {
  display: none;
}

#extents .olControlAttribution {
  bottom: .5em !important;
}

#status .alert {
  margin-bottom: 0px !important;
  padding: 7px !important;
}

.panel-body {
  border-top: none !important;
}

tr.success {
  background-color: #d9edf7;
  padding: .1em;
  opacity: .8;
}

tr.running {
  background-color: #d9edf7;
  padding: .1em;
}

tr.pending {
  background-color: #fcf8e3;
  padding: .1em;
}

tr.failed {
  background-color: #f2dede;
  padding: .1em;
}

tr#exceptions {
  display: none;
}

/* jobs list/search page */

#map-column {
  right: 0px;
}

div#search {
  display: none;
}

ul.pager {
  margin-right: 1em;
  margin-top: 0px;
}

.input-group.search {
  width: 100% !important;
  padding-right: 1em !important;
}

#info {
  padding-top: 0em;
  font-weight: 700;
  font-size: small;
}

div.page-size {
  padding: 0em 1.5em 0em 0em;
}

div.checkbox {
  margin-top: 0px !important;
}

select#page-size {
  margin: 0 .2em 0 .2em;
}

table#jobs {
  font-size: small;
  fixed-width: 100%;
}

table#jobs td.owner {
  word-break: break-all;
}

table#configurations {
  margin-top: .5em;
}

#results {
  border-top: 2px solid lightgrey;
}

form#search {
  padding-left: .7em;
}

#form-group-bbox {
  display: none;
}

#form-group-user {
  display: none;
}

span#user {
  display: none;
}

#filter-toggle {
  margin: .7em;
}

span.check {
  background-color: white;
}

span.tag.label.label-info {
  background-color: #d73f3f;
  border-radius: 4px !important;
}

span#toggle-feature {
  z-index: 1000 !important;
}

.glyphicon-none:before {
  content: "\e094";
  color: transparent !important;
}

.tooltip {
  z-index: 10000 !important;
}

.fa-users {
  margin-right: .5em;
}

.glyphicon-globe,
.glyphicon-time,
.glyphicon-user,
.glyphicon-minus-sign {
  margin-right: .5em;
}

.toggle-feature {
  margin-right: .5em;
}

#start-date,
#end-date {
  padding-right: 1em;
}

/*
#map-column.affix-top {
    position: static;
    float: right;
}

#map-column.affix {
    position: fixed;
    float: right;
  }
*/

/* login page */

#about {
  margin-top: 2em;
  margin-left: 3em;
  margin-right: 3em;
}

/* Configuration Browser */

div#search-config {
  display: none;
  border-right: 1px solid lightgrey;
}

div#spinner {
  display: block;
}

span#spinner i {
  font-size: 4em !important;
  left: 50%;
  top: 200px;
  position: relative;
}

#config-upload {
  padding: 15px;
  font-size: medium;
}

.added {
  background-color: lightgreen;
  /*transition:background-color 0.5s ease;*/
}

.normal {
  background-color: white;
}

/* HELP Pages */

.help .breadcrumb {
  width: 1152px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.helpItems {
  background-color: rgb(246, 247, 248);
}

.helpItems .helpItemsBody {
  width: 1152px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 64px;
}

.helpDetailContainer {
  background: rgb(246, 247, 248);
}

.helpDetailBody {
  padding-top: 80px;
  width: 1152px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 160px;
  line-height: 1.5em;
}

.helpDetailBody div {
  margin-bottom: 80px;
}

.helpDetailBody h2 {
  font-weight: 700;
}

.helpDetailBody img {
  margin-bottom: 30px;
  margin-top: 30px;
}

.helpToc h3 {
  font-weight: 400;
  font-size: .875rem;
  color: rgba(49, 75, 84, .48);
}

.helpToc ul {
  padding-left: 0px;
}

.helpToc li {
  list-style: none;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
}

.helpToc li:hover {
  background-color: rgba(31, 59, 69, .08);
}

.help h1 {
  font-size: 40px;
  font-weight: bold;
}

.help .hero p {
  color: rgba(49, 75, 84, .64);
}

.help .hero {
  background-color: white;
  width: 1152px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.help .panel {
  box-shadow: 0 4px 0 0 rgba(31, 59, 69, .08), 0 0 0 1px rgba(31, 59, 69, .12);
  border: none;
}

.help .panel .panel-body {
  padding: 24px;
  line-height: 1.5em;
}

.help .panel .panel-body h2 {
  font-weight: 700;
}

.help .itemWrapper:nth-of-type(n) {
  padding-right: 3%;
  padding-bottom: 2rem;
}

.help .itemWrapper:nth-of-type(3n) {
  padding-right: 0%;
}

.hero h1 {
  font-size: 34px;
  font-weight: bold;
}

.hero p {
  font-size: 1rem;
}

.home h2 {
  font-weight: bold;
}

.home .hero p {
  margin-top: 40px;
  color: #333;
}

.home .hero {
  background-color: white;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url("../images/osm-buildings.png");
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 96px;
  padding-bottom: 96px;
  position: relative;
}

.jumbotron {
  margin-bottom: 0px;
}

.jumbotron p {
  margin-bottom: 0px;
}

.home .centered {
  text-align: center;
}

.home .row {
  padding: 60px 60px;
}

.home .col-md-4 {
  padding-left: 10px;
  padding-right: 10px;
}

.home .col-md-4:first-child {
  padding-left: 30px;
}

.home .col-md-4:last-child {
  padding-right: 30px;
}

/* hack in react tree menu */
/*

<classNamePrefix>-root

The outer container

*/
.tree-view-root {
}

/*

<classNamePrefix>-root

The outer container for a single node

*/
.tree-view-node {
  margin-left: 10px;
}

/*

<classNamePrefix>-node-collapse-toggle.collapse-spacer

Used to provide spacing when a parent node has no children

*/
.tree-view-node-collapse-toggle.collapse-spacer {
  width: 14px;
  display: inline-block;
}

/*
<classNamePrefix>-node-collapse-toggle.<expandIconClass>

The class to use for the icon that expands a collapsed parent node

*/

/*

<classNamePrefix>-node-collapse-toggle.<collapseIconClass>

The class to use for the icon that collapses an expanded parent node

*/

.tree-view-node-collapse-toggle {
  margin-right: 3px;
  width: 14px;
}

/*

<classNamePrefix>-node-label

*/
.tree-view-node-label {
  margin-left: 3px;
  padding: 1px;
  border: 1px solid #fff;
}

/*

<classNamePrefix>-node-label.selected

*/
.tree-view-node-label.selected {
  border: 1px solid #003f81;
  border-radius: 3px;
  background-color: #808080;
}

/*

<classNamePrefix>-node-checkbox

The class for a node checkbox

*/

.tree-view-node-checkbox {
}

/*

<classNamePrefix>-node-children

The class for the element that wraps a nodes children (if any exist)

*/

.tree-view-node-children {
}

.tree-view-node .tree-view-node label {
  font-weight: normal;
}

/* checkbox-tree */

.react-checkbox-tree ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.react-checkbox-tree ol ol {
  padding-left: 24px;
}

.react-checkbox-tree button {
  line-height: normal;
  color: inherit;
}

.react-checkbox-tree button:focus {
  outline: none;
}

.react-checkbox-tree label {
  margin-bottom: 0;
  cursor: pointer;
}

.react-checkbox-tree label:hover {
  background: rgba(51, 51, 204, 0.1);
}

.react-checkbox-tree input {
  display: none;
}

.react-checkbox-tree .rct-icon {
  font-family: "FontAwesome";
  font-style: normal;
}

.rct-collapse,
.rct-node-icon,
.rct-checkbox {
  padding: 0 5px;
}

.rct-collapse *,
.rct-node-icon *,
.rct-checkbox * {
  display: inline-block;
  margin: 0;
  width: 14px;
}

.rct-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rct-collapse {
  border: 0;
  background: none;
  line-height: normal;
  color: inherit;
  font-size: 12px;
}

.rct-collapse.rct-collapse-btn {
  cursor: pointer;
}

.rct-collapse > .rct-icon-expand-close {
  opacity: .5;
}

.rct-collapse > .rct-icon-expand-close:hover {
  opacity: 1;
}

.rct-node-icon {
  color: #33c;
}

.rct-title {
  padding: 0 5px;
}

.rct-icon-expand-close::before {
  content: "\f054";
}

.rct-icon-expand-open::before {
  content: "\f078";
}

.rct-icon-uncheck::before {
  content: "\f096";
}

.rct-icon-check::before {
  content: "\f046";
}

.rct-icon-half-check::before {
  opacity: .5;
  content: "\f046";
}

.rct-icon-leaf::before {
  content: "\f016";
}

.rct-icon-parent-open::before {
  content: "\f115";
}

.rct-icon-parent-close::before {
  content: "\f114";
}

.btn {
  border: none;
}

.btn-default {
  box-shadow: inset 0 -3px 0 0 rgba(31, 59, 69, 0.12),
    inset 0 0 0 1px rgba(31, 59, 59, .12);
}

.btn-primary,
.btn-info {
  background-color: #439ab4;
  box-shadow: inset 0 -3px 0 0 rgba(31, 59, 69, 0.24),
    inset 0 0 0 1px rgba(31, 59, 59, .24);
}

.btn-success {
  background-color: #68c39f;
  box-shadow: inset 0 -3px 0 0 rgba(31, 59, 69, 0.24),
    inset 0 0 0 1px rgba(31, 59, 59, .24);
}

.btn-warning {
  background-color: #f6d55f;
  box-shadow: inset 0 -3px 0 0 rgba(31, 59, 69, 0.12),
    inset 0 0 0 1px rgba(31, 59, 59, .12);
}

.btn-danger {
  background-color: #ea4f54;
  box-shadow: inset 0 -3px 0 0 rgba(31, 59, 69, 0.24),
    inset 0 0 0 1px rgba(31, 59, 59, .24);
}

.btn-link {
  color: #439ab4;
}

hr {
  border: 0;
  height: 1px;
  background: rgba(31, 59, 69, .12);
  width: 80%;
  max-width: 16rem;
  margin: 2rem auto;
}

/* from oam-design-system/assets/styles/oam-design-system/_{code,variables}.scss */
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 80%;
}

code,
pre,
kbd {
  border-radius: 0.25rem;
  background: rgba(31, 59, 69, .04);
}

code,
kbd {
  padding: 0.125rem 0.25rem;
}

kbd {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0.25rem;
  background: rgba(31, 59, 69, 0.64);
  color: #fff;
}

kbd kbd {
  background: none;
  font-size: 100%;
  padding: 0;
}

pre {
  display: block;
  padding: 1rem;
  word-break: break-all;
  word-wrap: break-word;
  box-shadow: inset 0 0 0 1px rgba(31, 59, 69, 0.04);
  overflow: auto;
}

pre code {
  padding: 0;
  background: none;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.75rem;
  line-height: 1.8rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.55rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.3rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
  line-height: 1.05rem;
}

p {
  margin: 0 0 1rem;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border: 0px !important;
}

.table th,
.table td {
  border: 0px !important;
  padding: 0.75rem 0.5rem;
  vertical-align: top;
  text-align: left;
  box-shadow: inset 0 -1px 0 0 rgba(31, 59, 69, 0.12);
}

.table th:first-child,
.table td:first-child {
  padding-left: 1rem;
}

.table th:last-child,
.table td:last-child {
  padding-right: 1rem;
}

.table th {
  text-transform: uppercase;
  font-weight: 400;
  color: rgba(31, 59, 6, .48);
  font-size: 0.875rem;
  line-height: 1.25rem;
  vertical-align: bottom;
  box-shadow: inset 0 -2px 0 0 rgba(31, 59, 69, 0.12);
}

.ol-filter {
  position: absolute;
  top: 15px;
  right: 15px;
}

.input-group .pt-input:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.Select,
.Select div,
.Select input,
.Select span {
  background-color: white;
  z-index: 100;
}
