{% extends "ui/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block container %}
<div class="row">
    <div class="col-md-6" style="padding: 15px; font-size: large;">
        <div class="panel panel-danger">
            <div class="panel-heading"><h4>{% trans 'Server Error' %}</h4></div>
            <div class="panel-body">
                {% trans 'HOT Exports has experienced an internal error. Please <a href="https://github.com/hotosm/osm-export-tool2/issues">log an issue</a> in github if this problem persists.' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}