{% extends "ui/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block container %}

<div class="row">
    <div class="col-md-6">
        <div id="about">
            <h2>{% trans 'Fresh Humanitarian Maps' %}</h2>
            <h3>{% trans 'Download up-to-date humanitarian maps for GIS analysis or for use in GPS devices and Smartphones.' %}</h3>
            {% trans 'This platform allows you to create custom OpenStreetMap (OSM) exports for various HOT regions. You can specify an area of interest and a list of OSM feature tags for the export. There are a number of file formats available for exporting the data in, which includes Esri SHP, Garmin IMG, Google KMZ, OSM PBF and SQlite SQL. The OSM data available from the Export Tool is updated at one minute intervals.' %}
            <h2>{% trans 'How to Get Started'  %}</h2>
            {% blocktrans %}You can view and search through existing HOT exports at our <a href="{{ exports_url }}">Exports</a> page. It is not required to have an account to view or search existing exports, however if you would like to create a new export please <a href="/osm/login/openstreetmap">Login</a> with your OSM account. If this is the first time you have logged into the HOT Export Tool, you will be asked to provide a valid email address. More detailed help information on how to use the Export Tool is available on our <a href="{{ help_url }}">Help</a> page.{% endblocktrans %}
            <h3>{% trans 'License Information' %}</h3>
            {% blocktrans %}Data is copyright OpenStreetMap Contributors, <a href="http://opendatacommons.org/licenses/odbl/1-0/">ODbL 1.0 licensed</a>.{% endblocktrans %}
        </div>
    </div>
</div>

{% endblock %}
{% block corejs %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
    });
</script>
{% endblock %}