{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'ui/images/favicon.ico' %}">

    <title>{% trans 'HOT Export Tool' %}</title>
    {% block css %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'ui/contrib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'ui/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'ui/contrib/font-awesome/css/font-awesome.min.css' %}">
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'ui/css/materialIcons.css'%}">
    <link rel="stylesheet" href="{% static 'ui/css/ol.css'%}">
<style>
  html, body {
    height:100%;
  }
</style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <a name="top"></a>
    {% block container %}
    {% endblock %}
    {% block corejs %}
    {% endblock %}
  </body>
</html>
