{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'ui/images/favicon.ico' %}">

    <title>{% trans 'HOT Export Tool' %}</title>
    {% block css %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'ui/contrib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'ui/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'ui/contrib/font-awesome/css/font-awesome.min.css' %}">
    <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'ui/css/materialIcons.css'%}">
    <link rel="stylesheet" href="{% static 'ui/css/ol.css'%}">
<style>
  html, body {
    height:100%;
  }
</style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <a name="top"></a>
    {% block navbar %}
    <div id="banner" class="container-fluid">
        <div class="row">
            <div class="col-md-4"><img class="logo" src="{% static 'ui/images/hot_logo.png' %}"/>
                <span id="logotext">{% blocktrans %}Humanitarian <br/>OpenStreetMap <br/>Team{% endblocktrans %}
                </span>
            </div>
            <div class="col-md-4 pull-right">
                <form id="lang" action="{% url 'set_language' %}" method="post" role="form">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <input name="language" type="hidden" value=""/>
                </form>
            </div>
            <div class="col-md-8">
               <span class="banner-links"><a id="id" href="">Bahasa Indonesia</a> | <a id="de" href="">Deutsch</a> | <a id="en" href="">English</a> | <a id="es" href="">Español</a> | <a id="fr" href="">Français</a> | <a id="ja" href="">日本語</a></span>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'create' %}"><strong>{% trans 'OSM Export Tool' %}</strong></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'create' %}">{% trans 'Create' %}</a></li>
            <li><a href="{% url 'list' %}">{% trans 'Exports' %}</a></li>
            <li><a href="{% url 'configurations' %}">{% trans 'Presets' %}</a></li>
            {% if perms.jobs.add_hdxexportregion and perms.jobs.change_hdxexportregion and perms.jobs.delete_hdxexportregion %}
              <li><a href="{% url 'hdx_list' %}">{% trans 'HDX' %}</a></li>
            {% endif %}
            <li><a href="{% url 'help' %}">{% trans 'Help' %}</a></li>
            <li><a href="{% url 'about' %}">{% trans 'About' %}</a></li>
            {% if user.is_authenticated %}
                <li id="logout"><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> {% trans 'Log Out' %}</a></li>
            {% else %}
                <li><a href="{% url 'osm:begin' 'openstreetmap' %}">{% trans 'Login' %}</a></li>
            {% endif %}
                <li><span class="nav-pad">&nbsp;</span></li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}
    <div id="root" class="rootHdxList container-fluid" style="height:calc(100% - 125px)">
    </div>
    {% block corejs %}
    <script src="{% static 'ui/js/bundle.js' %}"></script>
    {% endblock %}
  </body>
</html>
