{% extends "ui/base.html" %}
{% load staticfiles %}
{% block css %}
{{ block.super}}
    <link rel="stylesheet" href="{% static 'ui/components/formvalidation/dist/css/formValidation.css' %}"/>
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-6">
        <div id="create-job-wizard">
            <form id="create-job-form" role="form" action="" class="" method="POST">
                {% csrf_token %}
                <ul id="tabs" class="nav nav-pills">
                    <li id="create-tab" role="presentation" class="active"><a data-toggle="tab" href="#create">Create New Export</a></li>
                    <li id="formats-tab" role="presentation"><a data-toggle="tab" href="#formats">Export Formats</a></li>
                    <li id="features-tab" role="presentation"><a data-toggle="tab" href="#features">Export Features</a></li>
                    <li id="upload-tab" role="presentation"><a data-toggle="tab" href="#upload">Upload Configuration File</a></li>
                </ul>
                <div class="tab-content">
                    <div id="create" class="tab-pane fade in active">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group row" id="form-group-name">
                                    <div class="col-md-12">
                                        <label class="control-label" for="name">Name</label>
                                        <input class="form-control" type="text" name="name" id="name" value=""/>
                                    </div>
                                </div>
                                <br/>
                                <div class="form-group row" id="form-group-description">
                                    <div class="col-md-12">
                                        <label class="control-label" for="description">Description</label>
                                        <textarea name="description" id="description" class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                                <br/>
                                <div class="form-group row" id="form-group-event">
                                    <div class="col-md-12">
                                        <label class="control-label" for="description">Event</label>
                                        <input class="form-control" type="text" name="event" id="event" value=""/>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div id="formats" class="tab-pane fade in">
                        <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group row" id="form-group-formats">
                                <div class="col-md-6">
                                    <label class="control-label" for="formats">Select Export Formats:</label>
                                    <div id="supported-formats"></div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div id="features" class="tab-pane fade in">
                        <div class="panel panel-default">
                        <div class="panel-body">
                            Select export features...
                        </div>
                      </div>
                    </div>
                    <div id="upload" class="tab-pane fade in">
                      <div class="panel panel-default">
                        <div class="panel-body">
                            Upload config here..
                        </div>
                      </div>
                    </div>
                    <!-- Previous/Next buttons -->
                    <ul class="pager wizard">
                        <li class="previous first" style="display:none;"><a href="#">First</a></li>
                        <li class="previous"><a href="#">Previous</a></li>
                        <li class="next last" style="display:none;"><a href="#">Last</a></li>
                        <li class="next"><a href="#">Next</a></li>
                    </ul>
                </div>
                <!-- container for job extents -->
                <div class="form-group row" id="form-group-bbox">
                    <div class="col-md-6" id="bbox">
                        <input id="xmin" name="xmin" value=""/>
                        <input id="ymin" name="ymin" value=""/>
                        <input id="xmax" name="xmax" value=""/>
                        <input id="ymax" name="ymax" value=""/>
                    </div>
                </div>
                <button id="btn-submit-job" type="submit" class="btn btn-lg btn-success">Create Export Job</button>
            </form>
        </div>
    </div>
    <div id="map-column" class="col-md-6">
        <div id="create-controls">
            <div class="btn-group" role="group">
                <button id="select-area" class="btn btn-md btn-primary">Select Export Area</button>
                <button id="zoom-selection" class="btn btn-md btn-primary">Zoom To Selection</button>
                <button id="clear-selection" class="btn btn-md btn-primary">Clear Selection</button>
                <button id="reset-map" class="btn btn-md btn-primary">Reset Map</button>
            </div>
            <div id="alert-extents" class="alert alert-danger fade in"></div>
            <div id="valid-extents" class="alert alert-success fade in"></div>
        </div>
        <div id="create-export-map"></div>
    </div>
</div>

{% endblock %}

{% block corejs %}
{{ block.super }}
<script src="{% static 'ui/components/openlayers/OpenLayers.js' %}"></script>
<script src="{% static 'ui/components/numeral/min/numeral.min.js' %}"></script>
<script src="{% static 'ui/components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'ui/components/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js' %}"></script>
<script src="{% static 'ui/components/formvalidation/dist/js/formValidation.min.js' %}"></script>
<script src="{% static 'ui/components/formvalidation/dist/js/framework/bootstrap.min.js' %}"></script>

<script src="{% static 'ui/js/layers.js' %}"></script>
<script src="{% static 'ui/js/config.js' %}"></script>
<script src="{% static 'ui/js/create.js' %}"></script>
{% endblock %}