{% extends "ui/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block container %}

<div id="details-row" class="row">
    <div id="job" class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>{% trans 'Export Details' %}</h4></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <span id="user">{{ user.username }}</span>
                        <div id="export-details" class="table-responsive">
                            <table class="table">
                                <tr><td><strong>{% trans 'Job Id:' %}</strong></td><td><div id="uid"></div></td></tr>
                                <tr><td><strong>{% trans 'Name:' %}</strong></td><td><div id="name"></div></td></tr>
                                <tr><td><strong>{% trans 'Description:' %}</strong></td><td><div id="description"></div></td></tr>
                                <tr><td><strong>{% trans 'Project:' %}</strong></td><td><div id="event"></div></td></tr>
                                <tr><td><strong>{% trans 'Region:' %}</strong></td><td><div id="region"></div></td></tr>
                                <tr><td><strong>{% trans 'Area:' %}</strong></td><td><div id="extent"></div></td></tr>
                                <tr><td><strong>{% trans 'Created:' %}</strong></td><td><div id="created"></div></td></tr>
                                <tr><td><strong>{% trans 'Created By:' %}</strong></td><td><div id="created_by"></div></td></tr>
                                <tr><td><strong>{% trans 'Published:' %}</strong></td><td><div id="published"></div></td></tr>
                                <tr><td><strong>{% trans 'Export Formats:' %}</strong></td><td><div id="formats"></div></td></tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="extents" class="pull-right"></div>
                    </div>
                </div>
                <div style="margin-left: .5em;">{% trans 'Data is copyright' %}<a href="http://www.openstreetmap.org" target="_blank"> {% trans 'OpenStreetMap' %}</a> {% trans 'contributors' %}, <a href="http://opendatacommons.org/licenses/odbl/1-0/" target="_blank">{% trans 'ODbL 1.0 licensed' %}</a>.</div>
                <hr/>
                {% if user.is_authenticated %}
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <button id="features" class="btn btn-primary pull-left">{% trans 'Features' %}&nbsp;&nbsp;<span class="glyphicon glyphicon-tag"></span></button>
                        </div>
                        <div>
                            <button id="rerun" class="btn btn-primary pull-left">{% trans 'Rerun Export' %}&nbsp;&nbsp;<span class="glyphicon glyphicon-repeat"></span></button>
                        </div>
                        <div>
                            <button id="clone" class="btn btn-primary pull-left">{% trans 'Clone Export' %}&nbsp;&nbsp;<span class="glyphicon glyphicon-asterisk"></span></button>
                        </div>
                        <div>
                            <form id="deleteForm" method="post" action="" role="form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" value="DELETE" name="_method"/>
                                <button id="delete" class="btn btn-danger pull-left">{% trans 'Delete Export' %}&nbsp;&nbsp;<span class="glyphicon glyphicon-trash"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <button id="features" class="btn btn-primary pull-left">{% trans 'Features' %}&nbsp;&nbsp;<span class="glyphicon glyphicon-tag"></span></button>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>{% trans 'Export Runs' %}</h4></div>
            <div class="panel-body">
                <div id="submitted_runs" class="col-md-12">
                    <div class="panel-group" role="tablist" aria-multiselectable="true"></div>
                </div>
                <div id="completed_runs" class="col-md-12">
                    <div class="panel-group" role="tablist" aria-multiselectable="true"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="delete-info" class="row">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>{% trans 'Export Deleted' %}</h4></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <p>{% trans 'Your export has been deleted successfully.' %}</p>
                    <p>{% trans 'Please start' %} <a href="{% url 'create' %}">{% trans 'here' %}</a> {% trans 'to create a new export.' %}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="error-info" class="row">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>{% trans 'Export Not Found' %}</h4></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <p>{% trans 'The requested export was not found.' %}</p>
                    <p>{% trans 'Please start' %} <a href="{% url 'create' %}">{% trans 'here' %}</a> {% trans 'to create a new export.' %}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- bootstrap modal -->
<div class="modal fade" id="deleteExportModal" tabindex="-1" role="dialog" aria-labelledby="deleteExportModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{% trans 'Really delete this export?' %}</h4>
        </div>
        <div class="modal-body" style="font-size: large;">
         <p><span class="glyphicon glyphicon-exclamation-sign" style="float:left; font-size: 2.0em; color: red; margin:0 7px 25px 0;">
         </span>
            <div>
             <p>{% trans 'This Export will be permanently deleted and cannot be recovered.' %}</p>
             <p>{% trans 'All associated export runs and their downloads will also be deleted.' %}</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Cancel' %}</button>
          <button id="deleteConfirm" type="button" class="btn btn-danger">{% trans 'Delete Export' %}</button>
        </div>
      </div>
    </div>
</div>

<!-- features modal -->
<div class="modal fade" id="featuresModal" tabindex="-1" role="dialog" aria-labelledby="featuresModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{% trans 'Features selected for this export' %}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div id="hdm-feature-tree" class="pull-left">
                    <ul class="nav nav-list"></ul>
                </div>
                <div id="osm-feature-tree" class="pull-left">
                    <ul class="nav nav-list"></ul>
                </div>
                <div class="table-responsive table-stripped table-condensed col-md-12">
                    <table class="table" id="filelist">
                        <th width="45%">{% trans 'Filename' %}</th><th width="10%">{% trans 'Type' %}</th><th width="10%">{% trans 'Status' %}</th><th width="35%">{% trans 'Created' %}</th>
                    </table>
                </div>
                <div id="config-deleted-message" style="display:none;">{% trans 'The preset associated with this export has been deleted.' %}</div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Close' %}</button>
        </div>
      </div>
    </div>
</div>


{% endblock %}

{% block corejs %}
{{ block.super}}
<script src="{% static 'ui/contrib/handlebars/handlebars.min.js' %}"></script>
<script src="{% static 'ui/contrib/openlayers/OpenLayers.js' %}"></script>
<script src="{% static 'ui/contrib/numeral/min/numeral.min.js' %}"></script>
<script src="{% static 'ui/contrib/moment/min/moment.min.js' %}"></script>
<script src="{% static 'ui/contrib/jquery-form/jquery.form.js' %}"></script>
<script src="{% static 'ui/js/layers.js' %}"></script>
<script src="{% static 'ui/js/config.js' %}"></script>
<script src="{% static 'ui/js/detail.js' %}"></script>
{% endblock %}