{% extends "ui/base.html" %}
{% load staticfiles %}

{% block container %}

<div id="details-row" class="row">
    <div id="job" class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Export Summary</h4></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <span id="user">{{ user.username }}</span>
                        <div class="table-responsive">
                            <table class="table">
                                <tr><td><strong>Job Id:</strong></td><td><div id="uid"></div></td></tr>
                                <tr><td><strong>Name:</strong></td><td><div id="name"></div></td></tr>
                                <tr><td><strong>Description:</strong></td><td><div id="description"></div></td></tr>
                                <tr><td><strong>Created:</strong></td><td><div id="created"></div></td></tr>
                                <tr><td><strong>Export Formats:</strong></td><td><div id="formats"></div></td></tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="extents" class="pull-right"></div>
                    </div>
                </div>
                {% if user.is_authenticated %}
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <button id="rerun" class="btn btn-primary pull-left">Rerun this Export&nbsp;&nbsp;<span class="glyphicon glyphicon-repeat"></span></button>
                        </div>
                        <div>
                            <button id="clone" class="btn btn-primary pull-left">Clone this Export&nbsp;&nbsp;<span class="glyphicon glyphicon-asterisk"></span></button>
                        </div>
                        <div>
                            <form id="deleteForm" method="post" action="" role="form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" value="DELETE" name="_method"/>
                                <button id="delete" class="btn btn-danger pull-left">Delete this Export&nbsp;&nbsp;<span class="glyphicon glyphicon-trash"></span></button>
                            </form> 
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Export Runs</h4></div>
            <div class="panel-body">
                <div id="submitted_runs" class="col-md-12">
                    <div class="panel-group" role="tablist" aria-multiselectable="true"></div>
                </div>
                <div id="completed_runs" class="col-md-12">
                    <div class="panel-group" role="tablist" aria-multiselectable="true"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="delete-info" class="row">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Export Deleted</h4></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <p>Your export has been deleted successfully.</p>
                    <p>Please start <a href="/jobs/create">here</a> to create a new export.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="error-info" class="row">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Export Not Found</h4></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <p>The requested export was not found.</p>
                    <p>Please start <a href="/jobs/create">here</a> to create a new export.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- bootstrap modal -->
<div class="modal fade" id="deleteExportModal" tabindex="-1" role="dialog" aria-labelledby="deleteExportModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Really delete this export?</h4>
        </div>
        <div class="modal-body">
         <p><span class="glyphicon glyphicon-exclamation-sign" style="float:left; font-size: 2.0em; color: red; margin:0 7px 25px 0;"> 
         </span>
            <div>
             <p>This Export will be permanently deleted and cannot be recovered.</p>
             <p>All associated export runs and their downloads will also be deleted.</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          <button id="deleteConfirm" type="button" class="btn btn-danger">Delete Export</button>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block corejs %}
{{ block.super}}
<script src="{% static 'ui/components/handlebars/handlebars.min.js' %}"></script>
<script src="{% static 'ui/components/openlayers/OpenLayers.js' %}"></script>
<script src="{% static 'ui/components/numeral/min/numeral.min.js' %}"></script>
<script src="{% static 'ui/components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'ui/components/jquery-form/jquery.form.js' %}"></script>
<script src="{% static 'ui/js/layers.js' %}"></script>
<script src="{% static 'ui/js/config.js' %}"></script>
<script src="{% static 'ui/js/detail.js' %}"></script>
{% endblock %}