{% load i18n %}
<html>
    <head>
        <title>{% trans 'HOT Exports' %}</title>
    </head>
    <body>
        {% trans 'This is an automated email from HOT Exports.' %}<br/>
        {% trans 'Unfortunately, your HOT Export has failed.' %}<br/>
        {% trans 'Please follow this link' %} {{ url }} {% trans 'to see the status of your HOT Export.' %}<br/>
        {% trans 'Please quote this Task ID when reporting errors:' %} {{ task_id }}.<br/>
        {% trans 'We apologise for any inconvenience this may cause.' %}
        <br/>
        {% trans 'Yours sincerely' %},<br/>

        {% trans 'Humanitarian OpenStreetMap Team' %}
    </body>
</html>