<html>
    <head>
        <title>HOT Exports</title>
    </head>
    <body>
        <p>This is an automated email from HOT Exports.</p>
        Unfortunately, your HOT Export has failed.<br/>
        Please follow this link {{ url }} to see the status of your HOT Export.<br/>
        Please quote this Task ID when reporting errors: {{ task_id }}.<br/>
        We apologise for any inconvenience this may cause.
        
        Yours sincerely,
        
        Humanitarian OpenStreetMap Team
    </body>
</html>