{% extends "ui/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block container %}

<div class="row">
    <div class="col-md-6" style="padding: 15px; font-size: large;">
        <div class="panel panel-danger">
            <div class="panel-heading"><h4>{% trans 'Error Creating Export' %}</h4></div>
            <div class="panel-body">
                {% blocktrans %}
                There was an error creating your export. Please <a href="mailto:exports@hotosm.org">email us</a> if this problem persists.
                {% endblocktrans %}
            </div>
        </div>
    </div>
</div>

{% endblock %}