{% extends "ui/base.html" %}
{% load staticfiles %}

{% block container %}

<h2>Help Documentation</h2>

<p>The OSM Export Tool allows users to create custom OpenStreetMap exports for selected HOT regions. This help documentation is split into the following sections to assist users to navigate the site, use the functions effectively and successfullly create and run exports:<br> 
<br>

<h3>Page Navigation</h3>
This section takes the user through the three main areas of the OSM Export Tool website and provides step by step directions on what functions are available and how to use them:<br>
<br><b><i>
Create<br>
Exports<br>
Store<br>
</b></i>
<br>
<br>

<h3>Export File Formats</h3>
This section takes the user through the five file formats available for selection to export the OSM data into, as well as provide useful links for users to find further information on their application:<br> 
<br><b><i>
Esri SHP<br>
Garmin IMG<br>
Google KMZ<br>
OSM PBF<br>
SQLite SQL<br>
</b></i>
<br>
<br>

<h3>Feature Tag Selection</h3>
This section takes the user through the feature selection functionality built into the Export Tool, which allows the user to select OSM tags to export specific map features for export:<br>
<br><b><i>
Humanitarian Data Model<br>
OpenStreetMap<br>
</b></i>
<br>
<br>

<h3>Configuration Files</h3>
This section takes the user through the three configuration files that can be used with the Export Tool to provide extra functionality:<br>
<br><b><i>
Presets<br>
Transform<br>
Language<br>
</b></i>
<br>
<br>

</p>

{% endblock %}