{% extends "ui/base.html" %}
{% load staticfiles %}
{% block css %}
{{ block.super}}
<link href="{% static 'ui/components/leaflet/dist/leaflet.css' %}" rel="stylesheet">
{% endblock %}

{% block container %}

<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div id="map"></div>
    </div>
</div>

{% endblock %}

{% block corejs %}
{{ block.super}}
<script src="{% static 'ui/components/openlayers/OpenLayers.js' %}"></script>
<script src="{% static 'ui/js/layers.js' %}"></script>
<script src="{% static 'ui/js/map.js' %}"></script>
{% endblock %}