{% extends "ui/base.html" %}
{% load staticfiles %}
{% block css %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'ui/components/datatables/media/css/jquery.dataTables.min.css' %}"/>
<link rel="stylesheet" href="{% static 'ui/components/datatables/media/css/dataTables.bootstrap.css' %}"/>
{% endblock %}

{% block container %}
<div class="row">
    <div id="search" class="col-md-6">
        <form id="search" class="form-inline" role="search" method="POST">
            {% csrf_token %}
            <h4>Filter exports by:</h4>
            <div class="form-group" id="form-group-name">
                <label class="control-label sr-only" for="name">Name</label>
                <div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">Name: </span>
                        <input id="name" type="text" class="form-control" placeholder="Filter by name" name="name">
                    </div>
                </div>
            </div>
            <span>&nbsp;</span>
            <div class="form-group" id="form-group-description">
                <label class="control-label sr-only" for="description">Description</label>
                <div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">Description: </span>
                        <input id="description" type="text" class="form-control" placeholder="Filter by description" name="description">
                    </div>
                </div>
            </div>
            <span>&nbsp;</span>
            <div class="form-group" id="form-group-event">
                <label class="control-label sr-only" for="description">Event</label>
                <div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">Event: </span>
                        <input id="event" type="text" class="form-control" placeholder="Filter by event" name="event">
                    </div>
                </div>
            </div>
            <div class="form-group" id="form-group-bbox">
                <div class="col-md-12" id="bbox">
                    <input id="bbox" name="bbox" value="-180,-90,180,90" type="hidden"/>
                    <!--<input id="ordering" name="ordering" value="-created_at" type="hidden"/>-->
                </div>
            </div>
        </form>
        <div id="list-jobs" class="col-md-12 pull-left">
            <div class="table-responsive">
                <table id="jobs" class="table table-hover">
                    <thead>
                        <tr><th>Name</th><th>Description</th><th>Event</th><th>Created</th><th>Region</th></tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div id="info" class="pull-left">
            </div>
            <div id="pagination" class="pull-right">
                <ul class="pager"></ul>
            </div>
        </div>
    </div>
    <div id="map-column" class="col-md-6">
        <div id="list-controls-temp">
            <div class="btn-group" role="group">
                <button id="filter-area" class="btn btn-md btn-primary">Filter Area</button>
                <button id="clear-filter" class="btn btn-md btn-primary">Clear Filter</button>
                <!--<button id="reset-map" class="btn btn-md btn-primary">Reset Map</button>-->
            </div>
            <div id="alert-extents" class="alert alert-danger fade in"></div>
            <div id="valid-extents" class="alert alert-success fade in"></div>
        </div>
        <div id="list-export-map"></div>
    </div>
</div>

{% endblock %}
{% block corejs %}
{{ block.super}}
<script src="{% static 'ui/components/openlayers/OpenLayers.js' %}"></script>
<script src="{% static 'ui/components/numeral/min/numeral.min.js' %}"></script>
<script src="{% static 'ui/components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'ui/components/formvalidation/dist/js/formValidation.min.js' %}"></script>
<script src="{% static 'ui/components/formvalidation/dist/js/framework/bootstrap.min.js' %}"></script>

<script src="{% static 'ui/components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'ui/components/datatables/media/js/dataTables.bootstrap.js' %}"></script>

<script src="{% static 'ui/js/layers.js' %}"></script>
<script src="{% static 'ui/js/config.js' %}"></script>
<script src="{% static 'ui/js/list.js' %}"></script>
{% endblock %}