{% extends "ui/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block css %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'ui/contrib/datatables/media/css/jquery.dataTables.min.css' %}"/>
<link rel="stylesheet" href="{% static 'ui/contrib/datatables/media/css/dataTables.bootstrap.css' %}"/>
<link rel="stylesheet" href="{% static 'ui/contrib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}"/>
{% endblock %}

{% block container %}
<div class="row">
  <h2 style="padding-left:20px"><a href="/scheduled_exports">Scheduled Exports</a>: hot-openstreetmap-sen</h2>
  <div class="col-md-6" style="padding:20px">
    <div class="panel panel-default">
      <div class="panel-heading">
        Modify Scheduled Export
      </div>
      <div class="panel-body">
        <label>
          Run this export on an automated schedule:
          <select class="form-control">
            <option>Disabled</option>
            <option>Every day at 12AM GMT</option>
            <option>Every week - Sunday at 12AM GMT</option>
        </select> 
        </label>

        <div class="form-group">
          <label for="comment">Feature Selection:</label>
          <textarea class="form-control" rows="6" id="comment">
table: buildings
  - building
  - building:levels
  - building:materials
  - addr:housenumber
  - addr:street
  - addr:city
  office
table: roads
  - highway
  - name
  - surface
  - smoothness
  - width
  - lanes
  - oneway
  - bridge
  - layer
          </textarea>
        </div>

        Formats:
        <div class="checkbox">
          <label>
            <input type="checkbox"> ESRI Shapefiles
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> .KMZ
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> OpenStreetMap PBF
          </label>
        </div>
      </div>

      
      <button type="button" class="btn btn-med btn-info">Edit Area of Interest</button>
      <div id="theMap" style="height:200px"></div>

      <button type="button" class="btn btn-lg btn-primary">Save</button>
    </div>
  </div>
  <div class="col-md-6" style="padding:20px">
    <div class="panel panel-default">
      <div class="panel-heading">
        Schedule
      </div>
      <div class="panel-body">
          <button type="button" class="btn btn-lg btn-primary">Run Now</button>
          <br/>
          Files will be created for HDX dataset:
          <a href="http://humdata.org/bdon-hot-openstreetmap-sen">humdata.org/hot-openstreetmap-sen</a>

          <table class="table table-striped">
            <thead>
             <tr>
               <th>Started at</th>
               <th>Elapsed Time</th>
               <th>Size</th>
             </tr>
            </thead>
            <tbody>
             <tr>
               <td>Sunday, Mar 5 2017 (7 days ago)</td>
               <td>15 minutes</td>
               <td>200 MB</td>
             </tr>
             <tr>
               <td>Sunday, Mar 5 2017 (7 days ago)</td>
               <td>15 minutes</td>
               <td>200 MB</td>
             </tr>
             <tr>
               <td>Sunday, Mar 5 2017 (7 days ago)</td>
               <td>15 minutes</td>
               <td>200 MB</td>
             </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block corejs %}
{{ block.super }}
<script src="{% static 'ui/contrib/bootstrap3-typeahead/bootstrap3-typeahead.js' %}"></script>
<script src="{% static 'ui/contrib/openlayers/OpenLayers.js' %}"></script>
<script src="{% static 'ui/contrib/numeral/min/numeral.min.js' %}"></script>
<script src="{% static 'ui/contrib/moment/min/moment.min.js' %}"></script>
<script src="{% static 'ui/contrib/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js' %}"></script>
<script src="{% static 'ui/contrib/formvalidation/dist/js/formValidation.min.js' %}"></script>
<script src="{% static 'ui/contrib/formvalidation/dist/js/framework/bootstrap.min.js' %}"></script>
<script src="{% static 'ui/contrib/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'ui/contrib/datatables/media/js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'ui/contrib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>

<script src="{% static 'ui/js/layers.js' %}"></script>
<script src="{% static 'ui/js/config.js' %}"></script>

<script>
  var maxExtent = new OpenLayers.Bounds(-180,-90,180,90).transform("EPSG:4326", "EPSG:3857");
  var mapOptions = {
          displayProjection: new OpenLayers.Projection("EPSG:4326"),
          controls: [new OpenLayers.Control.Attribution(),
                     new OpenLayers.Control.ScaleLine()],
          maxExtent: maxExtent,
          scales:[500000,350000,250000,100000,25000,20000,15000,10000,5000,2500,1250],
          units: 'm',
          sphericalMercator: true,
          noWrap: true // don't wrap world extents
  }
  map = new OpenLayers.Map('theMap', {
      options: mapOptions
  });
  console.log("foo");

  // restrict extent to world bounds to prevent panning..
  map.restrictedExtent = new OpenLayers.Bounds(-180,-90,180,90).transform("EPSG:4326", "EPSG:3857");

  // add base layers
  var osm = new OpenLayers.Layer.OSM("OpenStreetMap");
  osm.options = {layers: "basic", isBaseLayer: true, visibility: true, displayInLayerSwitcher: true};
  map.addLayer(osm);
  map.zoomToMaxExtent();

  var geojson = new OpenLayers.Layer.Vector("GeoJSON",{
        strategies: [new OpenLayers.Strategy.Fixed()],
        protocol: new OpenLayers.Protocol.HTTP({
          url: "https://s3.us-east-2.amazonaws.com/bdon-osm2hdx/SEN_simplified.geojson",
          format: new OpenLayers.Format.GeoJSON()
        })
    });
  map.addLayer(geojson);
</script>
{% endblock %}


