{% extends "ui/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block css %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'ui/contrib/datatables/media/css/jquery.dataTables.min.css' %}"/>
<link rel="stylesheet" href="{% static 'ui/contrib/datatables/media/css/dataTables.bootstrap.css' %}"/>
<link rel="stylesheet" href="{% static 'ui/contrib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}"/>
{% endblock %}

{% block container %}
<div class="row" style="padding:15px">
    <div id="search" class="col-md-7">
        <div class="alert alert-info">This is a non-functioning mockup page.</div>
        <h2>Scheduled Exports</h2>
        <div class="row">
            <div id="list-jobs">
                <div class="table-responsive">
                    <table id="jobs" class="table table-hover">
                        <thead>
                            <tr>
                              <th width="30%">{% trans 'HDX Dataset Name' %}</th>
                              <th width="15%">{% trans 'Last Run' %}</th>
                              <th width="15%">{% trans 'Next Run' %}</th>
                              <th width="15%"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <a type="button" href="/scheduled_exports/create" class="btn btn-lg btn-primary">Add New Scheduled Export</a>
    </div>
    <div id="map-column" class="col-md-5">
        <div id="list-export-map"></div>
    </div>
</div>

{% endblock %}

{% block corejs %}
{{ block.super }}
<script src="{% static 'ui/contrib/bootstrap3-typeahead/bootstrap3-typeahead.js' %}"></script>
<script src="{% static 'ui/contrib/openlayers/OpenLayers.js' %}"></script>
<script src="{% static 'ui/contrib/numeral/min/numeral.min.js' %}"></script>
<script src="{% static 'ui/contrib/moment/min/moment.min.js' %}"></script>
<script src="{% static 'ui/contrib/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js' %}"></script>
<script src="{% static 'ui/contrib/formvalidation/dist/js/formValidation.min.js' %}"></script>
<script src="{% static 'ui/contrib/formvalidation/dist/js/framework/bootstrap.min.js' %}"></script>
<script src="{% static 'ui/contrib/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'ui/contrib/datatables/media/js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'ui/contrib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>

<script src="{% static 'ui/js/layers.js' %}"></script>
<script src="{% static 'ui/js/config.js' %}"></script>
<script src="{% static 'ui/js/scheduled_exports.js' %}"></script>
{% endblock %}

