{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- <base href="/v3/" /> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HOT Export Tool</title>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="icon" href="{% static 'ui/images/favicon.ico' %}">
    <script type="importmap">
      {
        "imports": {
          "lit": "https://esm.sh/lit@3",
          "lit/decorators.js": "https://esm.sh/lit@3/decorators"
        }
      }
    </script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@hotosm/tool-menu@0.2.6/dist/tool-menu.esm.js"></script>
    {% if AUTH_PROVIDER == "hanko" %}
    <script type="module" src="https://cdn.jsdelivr.net/npm/@hotosm/hanko-auth@0.5.2/dist/hanko-auth.esm.js"></script>
    <style>
      /* Hide legacy login/logout button */
      #root .btn-danger {
        display: none !important;
      }
      /* Hide admin-only nav items (CSS is immune to React re-renders) */
      #root .navbar-nav li:has(> a[href$="/partners"]),
      #root .navbar-nav li:has(> a[href$="/hdx"]),
      #root .navbar-nav li:has(> a[href="/admin"]),
      #root .navbar-nav li:has(> a[href="/worker-dashboard/"]),
      #root .navbar-nav li:has(> a[href="/api/status"]),
      #root .navbar-nav li:has(> a[href$="/stats"]) {
        display: none !important;
      }
    </style>
    {% endif %}
    {% if MATOMO_URL and MATOMO_SITEID %}
      <script type="text/javascript">
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u='{{ MATOMO_URL }}';
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', '{{ MATOMO_SITEID }}']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
      </script>
    {% endif %}
  </head>
  <body>
    <div id="root" class="container-fluid" style="height:calc(100% - 105px)"></div>
    <script>
      var EXPORTS_API_URL = "{{ request.scheme }}://{{ request.get_host }}";
      var OAUTH_CLIENT_ID = "{{ client_id }}";
      var RAW_DATA_API_URL = "{{ RAW_DATA_API_URL }}";
      var AUTH_PROVIDER = "{{ AUTH_PROVIDER }}";
      {% if AUTH_PROVIDER == "hanko" %}
      var HANKO_URL = "{{ HANKO_PUBLIC_URL }}";
      {% endif %}
    </script>
    <script src="{% static 'ui/js/bundle.js' %}"></script>
  </body>
</html>
