{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OSM Export Tool</title>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="icon" href="{% static 'ui/images/favicon.ico' %}">
  </head>
  <body>
    <div id="root" class="container-fluid" style="height:calc(100% - 150px)"></div>
    <script>
      var EXPORTS_API_URL = "{{ request.scheme }}://{{ request.get_host }}";
      var OAUTH_CLIENT_ID = "{{ client_id }}";
    </script>
    <script src="{% static 'ui/js/bundle.js' %}"></script>
  </body>
</html>
