@media (min-width: 1200px){
    .container {
       width: 100% !important;
    }
}

@media (min-width: 992px){
    .container {
       width: 100% !important;
    }
}

@media (min-width: 768px){
    .container {
       width: 100% !important;
    }
}


body {
  padding-top: 50px;
}

.navbar {
    background-color: #6D6E72;
}

a.navbar-brand {
    color: #fff !important;
}