@media (min-width: 1200px){
    .container, .container-fluid {
       width: 100% !important;
    }
}

@media (min-width: 992px){
    .container, .container-fluid {
       width: 100% !important;
    }
}

@media (min-width: 768px){
    .container, .container-fluid {
       width: 100% !important;  
    }
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

/* top banner */

#banner {
    background-color: #fff;
    color: #B02129;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.banner-links {
    font-size: small;
    margin-top: 2.5em;
    float: right !important;
}

.logo {
    height: 75px;
    padding: 0px;
    float: left;
}

/* nav styles */

.navbar {
    background-color: #fff;
    margin-bottom: 0px !important;
}

.navbar-inverse {
    border: none !important;
}

a.navbar-brand {
    color: #fff !important;
    margin-left: 10px !important;
}

nav > div.container {
    background-color: #B02129;
    border: none !important;
}

ul.nav {
    float: right !important;
    font-size: large;
    font-weight: 700;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: #B02129;
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    padding-left: 10px;
}


/* main container */

.container-fluid {
    padding: 0px !important;
}


.row {
    margin: 0px !important;
    width: 100%;
    height: 100%;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2,
.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,
.col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11,
.col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11,
.col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding: 0px;
}



/* Map styles */

#map {
    position: relative;
    width: 100%;
    height: 620px;
}

#alert-extents {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 100;
    visibility: hidden;
}

#valid-extents {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 100;
    visibility: hidden;
}

.btn-group {
    position: absolute;
    top: 12px;
    left: 50px;
    z-index: 100;
}

.olControlDrawFeatureActive { 
  cursor: crosshair;
}

#map-column {
    border-left: 2px solid lightgrey;
}

/* Create export form styles */

#create-job {
    padding: 10px !important;
}

#create-job ul.nav-pills {
    font-size: medium !important;
    float: left !important;
    font-size: small;
    font-weight: 500;
}

#create-job {
    font-size: medium;
}

#supported-formats {
    padding-left: 1em;
}

.tab-pane > .panel {
    border: none;
    clear: both;
}

.tab-pane > .panel > .panel-body {
    padding-left: 0px !important;
}

/*
 * hide the bbox div
 * which contains bbox hidden fields.
 */

#bbox {
    visibility: hidden;
    max-height: 1px;
    max-width: 1px;
}

#bbox > small {
    display: none !important;
}

/* job detail styles @see job.html */

#details-row {
    padding: 15px;
}

#job {
    margin-right: 2em;
}

#extents {
    position: relative;
    width: 20em;
    height: 20em;
    border: 1px solid lightgrey;
}

#extents .olControlZoom {
    display: none;
}

#extents .olControlAttribution {
    bottom: .5em !important;
}

#status .alert {
    margin-bottom: 0px !important;
    padding: 7px !important;
}

