{% load i18n %}
{% load url from future %}
<!doctype html>
<html lang="en">

<head>
    <title>{{ site.name }} {% trans "registration" %}</title>
</head>

<body>
<p>
    {% blocktrans with site_name=site.name %}
    You have asked to register an account at <a href="{{site.url}}">HOT Exports</a>.
    If this wasn't you, please ignore this email
    and your address will be removed from our records.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans %}
    To activate this account, please click the following link within the next
    {{ expiration_days }} days:
    {% endblocktrans %}
</p>

<p>
    <a href="http://{{site.domain}}{% url 'registration_activate' activation_key %}">
        {{site.domain}}{% url 'registration_activate' activation_key %}
    </a>
</p>
<p>
    {% blocktrans with site_name=site.name %}
    Sincerely,
    
    Humanitarian OpenStreetMap Team
    {% endblocktrans %}
</p>
</body>

</html>