{% extends "ui/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block container %}

    {% if not user.is_authenticated %}
    <div class="row">
        <div class="col-md-6">
            <div id="about">
                <h2>{% trans 'Fresh Humanitarian Maps' %}</h2>
                <h3>{% trans 'Download up-to-date humanitarian maps for GIS analysis or for use in GPS devices and Smartphones.' %}</h3>
                {% trans 'This platform allows you to create custom OpenStreetMap exports for various HOT regions. You can specify an area of interest and a list of features (OpenStreetMap tags) for the export. A current OpenStreetMap data extract for that area in various data formats is then created for you within minutes.' %}
                <h2>{% trans 'How to Get Started'  %}</h2>
                {% blocktrans %}You can view and search through existing HOT exports at our <a href="/jobs">Exports</a> page. You do not need an account to view or search for existing exports.
                If you want to create an export and you are a new user, please <a href="/accounts/register">register</a> for an account.
                If you already have an account with HOT, please log in using the log in form on this page.
                More detailed help is available on our <a href="/help">help</a> page.
                {% endblocktrans %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" style="width: 50%;margin-top: 2em;">
            <div id="heading-wrap" class="panel-heading"><span class="glyphicon-heading glyphicon glyphicon-log-in pull-left">&nbsp</span>
              <div><h4>{% trans 'Login to Hot Exports' %}</h4></div>
            </div>
            <div class="panel-body">
                  <div id="login">
                      {% if form.errors %}
                      <div class="alert alert-danger">{% trans "Your username and password didn't match." %} <br/>{% trans 'Please try again or click <a href="/accounts/password/reset">here</a> to reset your password.' %}</div>
                      {% endif %}
                        <form method="post" action="{% url 'django.contrib.auth.views.login' %}" id="loginForm">
                            {% csrf_token %}
                            <div class="form-group row" id="form-group-username">
                                <div class="col-md-12">
                                    <strong><label class="control-label pull-left" for="username">{% trans 'Username:' %} </label></strong>
                                    <input class="form-control input-lg" type="text" name="username" id="username" value=""/>
                                </div>
                            </div>
                            <br/>
                            <div class="form-group row" id="form-group-password">
                                <div class="col-md-12">
                                    <strong><label class="control-label pull-left" for="password">{% trans 'Password: ' %}</label></strong>
                                    <input name="password" id="password" class="form-control input-lg" type="password"/>
                                </div>
                            </div>
                            <br/>
                            <div class="form-group row pull-left">
                                <div class="col-md-6">
                                    <button id="save" type="submit" class="btn btn-lg btn-success pull-left">{% trans 'Login' %}</button>
                                </div>
                                <div class="col-md-6">
                                    <a href="{% url 'registration_register' %}"><div id="register" class="btn btn-lg btn-primary pull-right">{% trans 'Register' %}</div></a>
                                </div>
                            </div>
                            <input type="hidden" name="next" value="{{ next }}" />
                        </form>
                      <div></div>
                  </div>
              </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
{% block corejs %}
{{ block.super }}
<script src="{% static 'ui/components/formvalidation/dist/js/formValidation.min.js' %}"></script>
<script src="{% static 'ui/components/formvalidation/dist/js/framework/bootstrap.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#loginForm').formValidation({
                framework: 'bootstrap',
        
                // Feedback icons
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
        
                // List of fields and their validation rules
                fields: {
                    username: {
                        validators: {
                            notEmpty: {
                                message: 'Please enter your username.'
                            },
                        }
                    },
                    password: {
                        validators: {
                            notEmpty: {
                                message: 'Please enter your password.'
                            }
                        }
                    }
                }
        }); 
    });
</script>
{% endblock %}
