name: Unit test
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3
        uses: actions/setup-python@v1
        with:
          python-version: 3.11

      - name: Install gdal
        run: |
          sudo apt-add-repository ppa:ubuntugis/ubuntugis-stable
          sudo apt-get update
          sudo apt-get install -y osmium-tool
          sudo apt-get install libgdal-dev osmctools gdal-bin libspatialindex-dev

      - name: Install Dependencies
        run: |
          export CPLUS_INCLUDE_PATH=/usr/include/gdal
          export C_INCLUDE_PATH=/usr/include/gdal
          pip install -r requirements-dev.txt
      - name: Run Tests
        run: |
          make test
