{% extends "ui/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block container %}

<center>
<div class="panel panel-success" style="width: 40%; margin-top: 2em;">
  <div class="panel-heading"><span class="heading">{% trans   "Validation Email Sent" %}</span></div>
  <div class="panel-body">
    <p style="font-size: large;">
        {% trans "An activation email has been sent to your email address."%} <br/>
        {% trans "Please click the link in the email to activate your account."%}
    </p>
  </div>
</div>
</center>
{% endblock %}