{% extends "ui/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block container %}

    {% if not user.is_authenticated %}
    <div class="row">
        <div class="col-md-6">
            <div id="about">
                <h2>{% trans 'Fresh Humanitarian Maps' %}</h2>
                <h3>{% trans 'Download up-to-date humanitarian maps for GIS analysis or for use in GPS devices and Smartphones.' %}</h3>
                {% trans 'This platform allows you to create custom OpenStreetMap (OSM) exports for various HOT regions. You can specify an area of interest and a list of OSM feature tags for the export. There are a number of file formats available for exporting the data in, which includes Esri SHP, Garmin IMG, Google KMZ, OSM PBF and SQlite SQL. The OSM data available from the Export Tool is updated at one minute intervals.' %}
                <h2>{% trans 'How to Get Started'  %}</h2>
                {% blocktrans %}You can view and search through existing HOT exports at our <a href="{{ exports_url }}">Exports</a> page. It is not required to have an account to view or search existing exports, however if you would like to create a new export please <a href="/osm/login/openstreetmap">Login</a> with your OSM account. If this is the first time you have logged into the HOT Export Tool, you will be asked to provide a valid email address. More detailed help information on how to use the Export Tool is available on our <a href="{{ help_url }}">Help</a> page.{% endblocktrans %}
                <h3>{% trans 'Original Export Tool' %}</h3>
                {% trans 'The original HOT Export Tool is available' %} <a href="http://old-export.hotosm.org">{% trans 'here' %}</a>.
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" style="margin: 2em 3em 0em 3em;">
            <div id="heading-wrap" class="panel-heading"><span class="glyphicon-heading glyphicon glyphicon-log-in pull-left">&nbsp</span>
              <div><h4>{% trans 'Login to OpenStreetMap' %}</h4></div>
            </div>
            <div class="panel-body">
                  <div id="login">
                        <div class="row pull-left">
                                <div style="font-size: large;">
                                    {% trans "If you don't have an OpenStreetMap account you can register for one <a href='http://www.openstreetmap.org/user/new'>here</a>." %}
                                </div>
                                <br/><br/>
                                <div class="col-md-6">
                                    <a href="{% url 'osm:begin' 'openstreetmap' %}?next=/exports/create"><div id="login" class="btn btn-lg btn-success pull-left">{% trans 'Login to OpenStreetMap' %}</div></a>
                                </div>
                        </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
